.about-section {
    padding: 60px 0;

    &__title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 900;
        font-style: italic;
        margin: 0;       

        @media screen and (min-width: $bp-tablet) {
            font-size: 36px;
            line-height: 50px;
        }
    }

    &__text{
        font-size: 14px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 24px;
        text-align: justify;

        @media screen and (min-width: $bp-mobile) {
            font-size: 16px;
            margin-bottom: 32px;
        }

        @media screen and (min-width: $bp-tablet) {
            font-size: 26px;
            margin-bottom: 60px;
            line-height: 34px;
        }
        
        
        span {
            font-weight: 900;
            font-style: italic;
            line-height: 20px;
            font-size: 16px;
            text-transform: uppercase;

            @media screen and (min-width:$bp-tablet) {
                font-size: 26px;
                line-height: 34px;
            }
        }
    }

    &__button {
            display: flex;
            text-decoration: none;
            color: var(--color-button);
            font-size: 16px;
            gap: 8px;
            font-weight: 600;
            align-items: center;
            padding: 12px 10px;
            line-height: 20px;
            width: max-content;

            @media screen  and (min-width:$bp-tablet){
                font-size: 24px;
                line-height: 32px;
            }

            svg {
                fill: var(--color-button);
                width: 20px;
                height: 20px;

                @media screen and (min-width:$bp-tablet) {
                    width: 24px;
                    height: 24px;
                }
            }

            &:hover {
                text-shadow: 0px 4px 10px rgba(3, 14, 67, 0.60);
                color: var(--primary-color);

                svg {
                    fill: var(--primary-color);
                }
            }
    }

    &__list-title {
        margin-bottom: 0;
        text-transform: uppercase;
    }

    &__list {
        padding-left: 22px;
    }
}