.contact-section {
    padding: 16px 0;

    @media screen and (min-width:$bp-mobile) {
        padding: 32px;
    }

    @media screen and (min-width: $bp-desktop) {
        padding: 80px 0;
    }

    &__form-container {
        display: block;
        
        @media screen and (min-width: $bp-desktop) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__form-title {
        color: var(--primary-color);
        font-size: 16px;
        font-weight: 900;
        font-style: italic;
        text-transform: uppercase;

        @media screen and (min-width: $bp-mobile) {
            font-size: 24px;
        }

        @media screen and (min-width: $bp-desktop) {
            font-size: 30px;
        }
    }

    &__form-block {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width:$bp-desktop) {
            width: 45%;
        }
    }

    &__button {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 16px;

        button {
            padding: 16px 120px;
            background: blue;
            border: none;
            cursor: pointer;
            font-size: 16px;
            color: white;
            text-wrap: nowrap;
            width: 100%;
            max-width: 574px;

            @media screen and (min-width:$bp-tablet) {
                font-size: 24px;
            }

            @media screen and (min-width:$bp-desktop) {
                &:hover {
                    background: var(--Blue-dark, #030E43);
                    box-shadow: 0px 4px 10px 0px rgba(3, 14, 67, 0.60);
                }
            }
        }
    }

    &__input {
        border: none;
        background-color: #dcdcdc5c;
        padding: 24px 16px;
        margin-bottom: 18px;
        appearance: none;  // Убирает стандартное оформление браузера
        font-size: 18px;
        border-radius: 0; /* Убирает закругленные углы */
        -webkit-appearance: none; /* Убирает встроенные стили Safari */

        &:focus {
            outline: none;
        }

        &:focus::placeholder {
            color: transparent;
        }

        &::placeholder {
            font-size: 14px;
            font-weight: 400;

            @media screen and (min-width:$bp-tablet) {
                font-size: 18px;
            }
        }
    }

    label {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 6px;

        @media screen and (min-width:$bp-tablet) {
            font-size: 20px;
        }
    }

    &__contact-block {
        display: flex;
        justify-content: space-between;
    }

    // Обёртка для стилизации селектов
    &__select-wrapper {
        position: relative;
        display: flex;
        align-items: center;

        .contact-section__select {
            width: 100%;
            border: none;
            background-color: #dcdcdc5c;
            padding: 24px 16px;
            margin-bottom: 18px;
            font-size: 14px;
            font-weight: 400;
            color: #333;
            cursor: pointer;
            appearance: none;  // Убирает стрелку браузера

            @media screen and (min-width:$bp-desktop) {
                font-size: 18px;
            }
        }

        .contact-section__arrow {
            position: absolute;
            right: 2%;
            bottom: 46%;
            width: 24px;
            height: 24px;
            fill: #5A5E70;  
            pointer-events: none; 
            transform: rotate(90deg); 
        }
    }

    // Стили для поля user-message (на всю ширину)
    &__message-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        label {
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 6px;
        }

        .contact-section__input {
            width: 100%;
        }
    }

    &__input.error, 
    &__select.error {
        border: 2px solid red;
    }

    &__error {
        color: red;
        font-size: 14px;
        margin-top: -12px;
        margin-bottom: 18px;
    }
}
