.header {
    width: 100%;
    background-color: var(--primary-color);

    @media screen and (min-width: $bp-mobile) {
        background-color: transparent;
        position: absolute;
        z-index: 2;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    &__logo {
        display: none;

        @media screen and (min-width: $bp-mobile) {
            display: block;
        }
        
        img {
            width: 52px;
            height: 60px;
        }
    }

    &__mobile-logo {
        display: block;

        @media screen and (min-width: $bp-mobile) {
            display: none;
        }

        img {
            width: 80px;
            height: 38px;
        }
    }

    &__menu {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: flex;
            padding: 0;
            list-style-type: none;
            gap: 18px;
        }

        @media screen and (min-width:$bp-desktop) {
            gap: 36px;
        }

        a {
            display: none;

            @media screen and (min-width: $bp-tablet) {
                display: flex;
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
                padding: 10px 12px;
                color: white;
            }

            @media screen and (min-width: $bp-desktop) {
                font-size: 26px;
            }

            &:hover {
                text-shadow: 0px 2px 20px #FFF;
            }
        }
    }

    &__button {
        display: none;

        @media screen and (min-width: $bp-tablet) {
            display: block;
            background-color: var(--color-button);
            width: 123px;
            color: white;
            border: none;
            padding: 12px 10px;
            cursor: pointer;
            text-decoration: none;
            text-align: center;
            font-size: 16px;
            text-wrap: nowrap;
        }

        &:hover {
            background: var(--primary-color);
            box-shadow: 0px 4px 10px 0px rgba(3, 14, 67, 0.60);
        }

        &:active {
            box-shadow: 0px 4px 20px 0px rgba(233, 204, 170, 0.60);
        }
    }

    &__burger-btn {
        display: block;
        background-color: transparent;
        border: none;

        @media screen and (min-width: $bp-tablet){
            display: none;
        }
    }
}

.burger-menu {
    position: fixed;
    top: -100%; /* Начальная позиция меню за пределами экрана сверху */
    left: 0;
    width: 100%;
    height: 30vh;
    background-color: var(--primary-color);
    transition: top 0.3s ease-in-out;
    z-index: 200;
    display: flex;
    flex-direction: column;
    padding: 11px 0;
  }
  
  .burger-menu--open {
    top: 0; /* При открытии меню плавно спускается вниз */
  }
  
  .burger-menu__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px 11px;
    border-bottom: 1px solid #fff;
  }
  
  .burger-menu__logo {
    height: 40px;
  }
  
  .burger-menu__close-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .burger-menu__close-btn svg {
    width: 24px;
    height: 24px;
  }
  
  .burger-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 0;
  }
  
  .burger-nav a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  
  .hero-link {
    font-weight: 900;
  }
